<h2>User info</h2>
<table class="table">
		<tr><%= attachment_image_tag(user, :profile_image, size: "100x100", fallback: "no_image.jpg") %></tr>

		<tr>
			<th>name</th>
			<th><%= user.name %></th>
		</tr>

		<tr>
			<th>introduction</th>
			<th><%= user.introduction %></th>
		</tr>

		<tr>
			<% user ||= current_user %>
			<th>follows</th>
			<th>
				<%= link_to follows_user_path(user) do %>
					<%= user.followings.count %>
				<% end %>
			</th>
		</tr>

		<tr>
			<th>followers</th>
			<th>
				<%= link_to followers_user_path(user) do %>
					<%= user.followers.count %>
				<% end %>
			</th>
		</tr>

		<% if user == current_user %>
		<tr>
			<th>住所</th>
			<th id="address">
				<%= user.address %>
			</th>
		</tr>
		<% end %>
</table>

<div class="row">
	<% if user == current_user %>
		<%= link_to '',edit_user_path(user), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench edit_user_#{user.id}" %>
	<% elsif user != current_user %>
		<%= render "relationships/follow_button", user: user %>
	<% end %>
</div>
