<h2>Followers User</h2>
<% @users.each do |user| %>
<table class="table">
<tr>
  <td><%= attachment_image_tag(user, :profile_image, size: "50x50", fallback: "no-image-mini.jpg") %></td>
  <td><%= user.name%></td>
  <td>
    <%= link_to follows_user_path(user) do %>
      フォロー数：<%= user.relationships.count %>
    <% end %>
  </td>
  <td>
    <%= link_to follows_user_path(user) do %>
      フォロワー数：<%= user.followers.count %>
    <% end %>
  </td>
</tr>

</table>
<% end %>
