<div class="row">
	<div class="col-xs-3">
		<%= render 'users/profile',  user: @user %>
		<h2>New book</h2>
		<%= render 'newform', book: @book_new %>
	</div>
	<div class="col-xs-9">
		<h2>Book detail</h2>
		<table class="table">
			<%= render "layouts/table_thead" %>

			<tbody>
			<tr  id="book-<%= @book.id %>">
				<%= render "layouts/book_table", user: @user, book: @book %>
				<%= render "layouts/edit_destroy_btn", book: @book %>
			</tr>
			</tbody>
		</table>
		<div id="comments-<%= @book.id %>">
		<%= render "book_comments/comment_index",
		book: @book, user: @user %>
		</div>

		<%= render "book_comments/comment_form",
		book: @book, book_comment: @book_comment %>
	</div>
</div>
