<div class="row">
	<div class="col-xs-3">
    <%= render 'users/profile', user: current_user %>
		<h2>New book</h2>
    <%= render 'books/newform', book: @book %>
	</div>

  <div class="col-xs-9">
    <% if @user_or_book == "users"%>
      <h1>User</h1>
      <table class="table">
        <% @users.each do |user| %>
          <%= render "users/follow", users: @users %>
        <% end %>
      </table>

    <% elsif @user_or_book == "books" %>

      <h2>Book</h2>
      <table class="table">
        <%= render "layouts/table_thead" %>

        <% @books.each do |book| %>
          <tbody>
            <tr>
    					<%= render "layouts/book_table", user: book.user, book: book %>
							<%= render "layouts/edit_destroy_btn", book: book %>
						</tr>
          </tbody>
        <% end %>
      </table>
    <% else %>
    <h3>検索失敗</h3>
    <% end %>
  </div>
</div>
